.wrapper {
  background-color: $light-gray;
}


h1 {
  color: $green;
}

h5 {
  color: $green;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

th {
    text-align: left;
    color: $green;
}

td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: $green;}

.panel {
  margin-top: 20px;
}

h1 {
  color: $green;
}

// table {
//   white-space: nowrap;
// }
