.wrapper {
  background-color: $light-gray;
}

.min-height {
  min-height: calc(100vh - 135px);
}

.text-green {
  color: $green;
}

.text-white {
  color: $white;
}

.text-gray {
  color: $gray;
}

h1 {
  @extend .text-green;
}

@media all
and (max-width: 700px) {
  h3, .h3 {
  font-size: 23px ;
  }
}

h5 {
  @extend .text-green;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media all
  and (max-width: 700px) {
    flex-direction: row;
  }
}



td {
    border-bottom: 1px solid #ddd;
}
.text-bold {
  font-weight: bold;
}



.table-timeslot-show tr td{
  white-space: nowrap;
}
.table-timeslot-show tr td:last-child{
  white-space: inherit;
}
