.right {
  display: flex;
  flex-direction: column;
  justify-items: auto;
  align-items: center;

  .btn-primary {
    margin-top: 20px;
  }
}

.picture-frame {
  border: solid 7px white;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  transform: rotate(-3deg);
  transition: all 0.5s;
  width: 100%;
  height: auto;
}
.picture-frame:hover {
  transform: rotate(0deg);
}

.toggler {
  display: flex;
    justify-content: space-between;
    height: 34px;
    padding-top: 2px;
     margin-bottom: 1em;
     width: 85%;
}
