.right {
  display: flex;
  flex-direction: column;
  justify-items: auto;
  align-items: center;

  .btn-primary {
    margin-top: 20px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  align-items: center;
}
