
.btn-primary {
    color: #FF6F59;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #FF6F59;
    background-color: white;
    border-radius: 5px;
    padding: 12px 23px 13px;
    margin: 0;
    margin-bottom: 12px;
}

.btn-secondary {
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: $green;
    padding: 12px 23px 13px;
    margin: 0;
    margin-bottom: 12px;
    border-radius: 5px;
}


