.calendar {
  margin-top: 15px;
}

.popover-content a {
  display: block;
  font-size: 16px;
  color: $gray;
  font-weight: 700;
}

.fc-event {
    font-size: .85em;
    text-align: center;
}

.fc-content {
    margin-top: 5px;
    font-size: 16px;
    justify-content: center;
    border-radius: 5px;
}

.fc-today{
   background-color: #F2F2F2;
}

// .fc-center {
//   font-size: 24px;
//   font-weight: bold;
//   text-align: center;
// }


