
.calendar {
  // margin-top: window.innerWidth > 700 ? 40px : 5px;
  margin-top: 0px;
  @media screen and (min-width: 700px) {
    margin-top: 40px;
  }
}

.popover-content a {
  display: block;
  font-size: 16px;
  color: $gray;
  font-weight: 700;
}

.fc-event {
    font-size: .85em;
    text-align: center;
}

.fc-content {
    margin-top: 5px;
    font-size: 16px;
    justify-content: center;
    border-radius: 5px;
}

.fc-today{
   background-color: #F2F3F4;
}

.fc-center>h2 {
  @extend .h4;
  @extend .text-green;
}

.fc-time-grid-event {
  border-width: 2px !important;
  border-radius: 10px !important;
}
.fc-time-grid-event[aria-describedby] {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.fc-right .btn-default.active, .btn-default:hover {
  background-color: #F2F3F4;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.fc-title {
  font-weight: bold;
}

.popover-title {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.fc-icon-fa {
  font-family: FontAwesome;
}

// .fc-center {
//   font-size: 24px;
//   font-weight: bold;
//   text-align: center;
// }


