.footer {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: $light-gray;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 63px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $green;
  opacity: 0.15;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $green;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}

.footer-text {
  padding-top: 17px;
  font-size: 16px;
}
