<div class="container">
  <div class="row">
    <h1>Votre liste d'activités</h1>
    <% @activities.each do |activity| %>
      <div class="col-sm-6 col-md-4">
          <div class="activity">
            <%= link_to image_tag(activity.image), activity_path(activity) %>
            <div class="activity-body">
              <h2><%= link_to activity.title, activity_path(activity) %><h2>
              <h3><%= t("activerecord.attributes.activity.statuses.#{activity.status}") %></h3>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
