<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form action="#">
      <h1 class="text-center">Gégé, et mes activités ?</h1>
    </form>
  </div>
</div>
<div class="row">
    <% @activities.each do |activity| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path(activity.image) %>);">
        <div class="card-category"></div>
        <div class="card-description">
          <h2><%= activity.title %></h2>
          <p><%= t("activerecord.attributes.activity.statuses.#{activity.status}") %></p>
        </div>
          <%=  link_to activity.title, activity_path(activity), class: "card-link" %>
      </div>
    </div>
    <% end %>
</div>


