<div class="navbar-wagon-item hidden-md hidden-lg row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form action="#">
      <h1 class="text-center">Gégé, quel est mon planning ?</h1>
    </form>
  </div>
</div>
<div class="row calendar">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div id='calendar'></div>
  </div>
</div>
