<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form action="#">
      <h1 class="text-center">Gégé, quel est mon planning?</h1>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div id='calendar'></div>
  </div>
</div>
