<div class="navbar-wagon-item hidden-md hidden-lg row">
  <h3 class="text-center text-green">Gégé, quel est mon planning ?</h3>
</div>
<div class="row calendar">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div id='calendar'></div>
  </div>
</div>
